<html>
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="content-type">
        <link rel="stylesheet" href="{{ url_for('static', filename='temp_4_font.css') }}">
    </head>
    
    <body>
        <div class='section'>
            <div class="background">
              <style>
                .background {
                  background-image: url("{{ url_for('static', filename='ui.jpg') }}");
                }
              </style>
            </div>
      
            <div class="head-title">
              <h1>Missions</h1>
            </div>  
      
            <div class="minor-heading">
              <h3>Dashboard</h3>
            </div>
      
            <div class="arrow">
              <div class="arrow svg path">
                <svg width="30px" height="20px" aria-label="more content below">
                  <path stroke="#ffffff" stroke-width="2px" d="M2.000,5.000 L15.000,18.000 L28.000,5.000 "></path>
                </svg>
              </div>
            </div>
      
        </div>

        {% for card in result %}

        <div class="section">
      
            <div classs="head-title">
              <h1>{{ card["card_title"] }}</h1>
            </div>
      
            <div class="minor-heading">
              <h3>{{ card["card_content"] }}</h3>
            </div>
            
            <div class="tiles">
              <div class="links mis-link status">
                <a href="#">
                  <h3>Status : {{ card["card_status"] }}</h3>
                </a>
              </div>

              <div class="links mis-link date">
                <a href="#">
                  <h3>Deadline : {{ card["card_deadline"] }}</h3>
                </a>
              </div>
      
              <div class="action">
                <a href="/card/{{ card['card_id'] }}/update">
                  <h4>Update</h4>
                </a>
      
                <a href="/card/{{ card['card_id'] }}/delete">
                  <h4>Delete</h4>
                </a>
              </div>
              
            </div>
        </div>

        {% endfor %}

       <div class="add-tile">
           <a href="/card/add">
              <h3>Add</h3>
           </a>
       </div>

       <div class="boxes">
        <div class="completed">
            <a href="/list">
                <h3>Dashboard</h3>
            </a>
        </div>

        <div class="completed">
            <a href="/summary">
                <h3>Summary</h3>
            </a>
        </div>

       </div>
     
    </body>
    
</html>