<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <link rel="stylesheet" href="{{ url_for('static', filename='temp_1_font.css') }}">
  </head>
  
  
  <body>
    <div class='section'>

      <div class="background">
        <style>
          .background {
            background-image: url("{{ url_for('static', filename='pic_3.jpg') }}");
          }
        </style>
      </div>

      <div class="head-title">
        <h1>Mission Phase</h1>
      </div>  

      <div class="minor-heading">
        <h3>Dashboard</h3>
      </div>

      <div class="arrow">
        <div class="arrow svg path">
          <svg width="30px" height="20px" aria-label="more content below">
            <path stroke="#ffffff" stroke-width="2px" d="M2.000,5.000 L15.000,18.000 L28.000,5.000 "></path>
          </svg>
        </div>
      </div>

    </div>


    {% for list in list_division %}
    
    <div class="section">
      
      <div classs="head-title">
        <h1>{{ list["list_tag"] }}</h1>
      </div>

      <div class="minor-heading">
        <h3>{{ list["list_name"] }}</h3>
      </div>
      
      <div class="tiles">
        <h3>Missions</h3>
        <h4>Update</h4>
        <h4>Delete</h4>
      </div>
    </div>

   
    {% endfor %}
    
    Summary
     
  </body>

</html>
